* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --title-c:#1C1C1C;
    --text-c:#545454;
    --opacity-c:#969696;
    --back-wh:#FFFFFF;
    --input-b: 1px solid #E4E4E4;
    --main-blue:#007BFF;
    --text-sz: 15px;
    --title-sz: 24px;
    --tex-op-sz: 13px;
}

body {
    font-family: 'Roboto';
    background: #E5E5E5;

}

.mb_7 {
    margin-bottom: 7px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_22 {
    margin-bottom: 22px;
}

.container {
    max-width: 570px;
    margin: 0% auto;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-form {
    background-color: var(--back-wh);
    padding-top: 35px;
    width: 100%;
    padding-right: 34px;
    padding-left: 34px;
    margin-top: 55px;
    margin-bottom: 55px;
}

a {
    text-decoration: none;
}

.title {
    font-family: 'Roboto';
    color: var(--title-c);
    font-size: var(--title-sz);
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
}

.block-input, .block-select {
    display: flex;
    flex-direction: column;
}

.block-form_flex {
    display: flex;
    gap: 12px;
}

label {
    font-size: var(--text-sz);
    color: var(--text-c);
    line-height: 22px;
    letter-spacing: -0.2px;
    font-weight: 400;
    margin-bottom: 7px;
}

input, #select {
    width: 245px;
    height: 38px;
    padding: 9.4px;
    border-radius: 6px;
    outline: none;
    border: none;
    transition: all 0.3s;
}

.input, #select {
    border: var(--input-b)
}

.input:hover, #select:hover {
    border: 1px solid var(--main-blue);
}

.input:focus {
    transform: scale(1.02);
    border: 1px solid var(--main-blue);
}

#email {
    width: 500px;
}

.text {
    display: block;
    color: var(--opacity-c);
    font-size: var(--tex-op-sz);
    font-weight: 400;
    line-height: 18px;
}

input[type="radio"] {
    display: none;
}
  
.radio-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 1px solid #E4E4E4;
    vertical-align: sub;
    margin-right: 8px;
}
  
input[type="radio"]:checked + .radio-btn {
    border: 6px solid var(--main-blue); 
 }
  
.block-radio {
    display: flex;
    gap: 21px;
}

select {
    color: var(--opacity-c);
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-family: "Roboto";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.select-caret::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.25px 5.2px 5.25px;
    border-color: transparent transparent #969696 transparent;
    position: absolute;
    pointer-events: none;
    top: 60%;
    left: 48%;
}

.select-caret::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.25px 5.2px 5.25px;
    transform: rotateX(180deg);
    border-color: transparent transparent #969696 transparent;
    position: absolute;
    pointer-events: none;
    top: 61%;
    left: 48%;
}

.block-flex_gap {
    display: flex;
    gap:10px
}

.button {
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
    background-color: var(--main-blue);
    text-decoration: none;
    color: var(--back-wh);
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    transition: all 0.3s;
}

.button:hover {
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    color: var(--title-c);
}

.button:active {
    border: 1px solid #E4E4E4;
    background-color: var(--main-blue);
    border: 1px solid #E4E4E4;
    color: #FFFFFF;
}

.block-text {
    max-width: 410px;
    margin:  0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.line {
    content: "";
    border-bottom: 1px solid #E4E4E4;
    display: flex;
    width: 100%;
}

.text-link {
    text-decoration: none;
    color: var(--main-blue);
}

.text-link:hover {
    text-decoration: underline var(--main-blue);
}

.block-login {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 16px;
}

.block-login__text {
    color: var(--text-c);
    font-size: var(--text-sz);
    line-height: 22px;
    font-weight: 400;
} 

.block-login__text--blue {
    color: var(--main-blue);
    font-weight: 500;
    line-height: 22px;
    font-weight: 400;
}

/* PAGE - 2 */

.photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.block-profile {
    display: flex;
}

input[type="file"] {
    width: 138px;
    height: 30px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    outline: none;
    font-size: 7px;
    line-height: 1.5;
    padding: 0 8px;
    cursor: pointer;
    color: transparent;
    transition: all 0.2s;
  }
  
  input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }

  #photo-upload::after {
    content: url(../img/shape.svg);
    position: relative;
    left: 0px;
    top: 8px;

  }

  .block-profile_upload {
    display: block;
  }
  
  